/Teste/target/
/Pessoa/target/
/semana4Quest1/target/
/semana4Quest4d/target/
/semana5Quest11/target/
/semana6Quest6/target/
/semana7Quest3/target/
/DemonstracaoRotulo/target/
/Pousada/nbproject/private/
/Pousada/build/